$_main_color: #242424;
$_main_bg_color: rgba(255, 255, 255, 0.87);
$_header_color: #747bff;
$_header_accent_color: red;
$_footer_color: #8c17ff;
$_menu_color: #ffffff;
$_title_color: #1c1c1c;
$_icon_color: #8c17ff;
