<section class="faq" id="faq">
  <div class="container">
    <h2 class="faq-title-cont animation-title">FAQ</h2>
    <div class="faq-container">
      <div class="faq-item animation-left">
        <div class="faq-question">
          <h3 class="faq-title">IS SUPER MATCH FREE TO PLAY?</h3>
          <div class="faq-arrow">
            <img
              class="faq-img"
              src="/assets/images/icons/icon-dovn.png"
              alt="icon down"
            />
          </div>
        </div>
        <p class="faq-text">
          Yes! You can download and play for free, with optional in-game
          purchases.
        </p>
      </div>
      <div class="faq-item animation-right">
        <div class="faq-question">
          <h3 class="faq-title">CAN IN PLAY ONLINE?</h3>
          <div class="faq-arrow">
            <img
              class="faq-img"
              src="/assets/images/icons/icon-dovn.png"
              alt="icon down"
            />
          </div>
        </div>
        <p class="faq-text">
          Some features require an internet connection, but you can enjoy
          certain modes offline
        </p>
      </div>
      <div class="faq-item animation-left">
        <div class="faq-question">
          <h3 class="faq-title">WHAT PLATFORMS IS THE GAME AVAILABLE ON?</h3>
          <div class="faq-arrow">
            <img
              class="faq-img"
              src="/assets/images/icons/icon-dovn.png"
              alt="icon down"
            />
          </div>
        </div>
        <p class="faq-text">Super Match is available on Android devices</p>
      </div>
      <div class="faq-item animation-right">
        <div class="faq-question">
          <h3 class="faq-title">HOW DO I UNLOCK BOOSTERS?</h3>
          <div class="faq-arrow">
            <img
              class="faq-img"
              src="/assets/images/icons/icon-dovn.png"
              alt="icon down"
            />
          </div>
        </div>
        <p class="faq-text">
          You can earn boosters through gameplay or purchase them in the shop
        </p>
      </div>
      <div class="faq-item animation-left">
        <div class="faq-question">
          <h3 class="faq-title">IS THERE A RANKED MODE?</h3>
          <div class="faq-arrow">
            <img
              class="faq-img"
              src="/assets/images/icons/icon-dovn.png"
              alt="icon down"
            />
          </div>
        </div>
        <p class="faq-text">
          Yes! Compete in ranked PvP matches to earn trophies and climb the
          leaderboards
        </p>
      </div>
    </div>
  </div>
</section>
