<section class="faq">
  <div>
    <h2 class="faq-title-cont">FAQ</h2>
    <div class="faq-container">
      <div class="faq-item">
        <div class="faq-question">
          <div class="faq-title">IS SUPER MATCH FREE TO PLAY?</div>
          <div class="faq-arrow">
            <svg
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5.8335 8.3335L10.0002 12.5002L14.1668 8.3335"
                stroke="white"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
        <div class="faq-text">
          Yes! You can download and play for free, with optional in-game
          purchases.
        </div>
      </div>
      <div class="faq-item">
        <div class="faq-question">
          <div class="faq-title">CAN IN PLAY ONLINE?</div>
          <div class="faq-arrow">
            <svg
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5.8335 8.3335L10.0002 12.5002L14.1668 8.3335"
                stroke="white"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
        <div class="faq-text">
          Some features require an internet connection, but you can enjoy
          certain modes offline
        </div>
      </div>
      <div class="faq-item">
        <div class="faq-question">
          <div class="faq-title">WHAT PLATFORMS IS THE GAME AVAILABLE ON?</div>
          <div class="faq-arrow">
            <svg
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5.8335 8.3335L10.0002 12.5002L14.1668 8.3335"
                stroke="white"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
        <div class="faq-text">Super Match is available on Android devices</div>
      </div>
      <div class="faq-item">
        <div class="faq-question">
          <div class="faq-title">HOW DO I UNLOCK BOOSTERS?</div>
          <div class="faq-arrow">
            <svg
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5.8335 8.3335L10.0002 12.5002L14.1668 8.3335"
                stroke="white"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
        <div class="faq-text">
          You can earn boosters through gameplay or purchase them in the shop
        </div>
      </div>
      <div class="faq-item">
        <div class="faq-question">
          <div class="faq-title">IS THERE A RANKED MODE?</div>
          <div class="faq-arrow">
            <svg
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5.8335 8.3335L10.0002 12.5002L14.1668 8.3335"
                stroke="white"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
        <div class="faq-text">
          Yes! Compete in ranked PvP matches to earn trophies and climb the
          leaderboards
        </div>
      </div>
    </div>
  </div>
</section>
