<footer class="footer">
  footer

  <nav>
    <ul>
      <li>
        <a href="./privacy.html" target="_blank">Privacy Policy</a>
      </li>
      <li>
        <a href="./terms.html" target="_blank">Terms & Conditions</a>
      </li>
      <li>
        <a href="./cookies.html" target="_blank">Cookies Policy</a>
      </li>
    </ul>
  </nav>

  <p class="footer-reserved animated-footer">
    ©<span id="year"></span> fusionstormway.com, All rights reserved
  </p>
  <script>
    document.getElementById('year').textContent = new Date().getFullYear();
  </script>
</footer>
