<footer class="footer">
  <div class="container footer-container">
    <nav class="footer-nav">
      <ul class="footer-nav-list">
        <li class="footer-nav-list-item">
          <a
            class="footer-nav-list-item-link"
            href="./privacy.html"
            target="_blank"
            >Privacy Policy</a
          >
        </li>
        <li>
          <a
            class="footer-nav-list-item-link"
            href="./terms.html"
            target="_blank"
            >Terms & Conditions</a
          >
        </li>
        <li>
          <a
            class="footer-nav-list-item-link"
            href="./cookies.html"
            target="_blank"
            >Cookies Policy</a
          >
        </li>
      </ul>
    </nav>

    <p class="footer-reserved animated-footer">
      ©<span id="year"></span> fusionstormway.com, All rights reserved
    </p>
    <script>
      document.getElementById('year').textContent = new Date().getFullYear();
    </script>
  </div>
</footer>
