<section class="join">
  <div class="join-container container">
    <div class="join-content">
      <h3 class="join-title">Join the Match-3 Battle Today!</h3>
      <p class="join-text">
        Download Super Match Now and Prove You're the Ultimate Puzzle Master!
      </p>
    </div>
    <button class="join-link google-play">
      <img src="/assets/images/google-play.png" alt="image of google-play" />
      <div class="hero-btns">
        <p>Download on</p>
        <p>Google play</p>
      </div>
    </button>
  </div>
</section>
