<section class="join">
  <div class="join-container container">
    <div class="join-content">
      <h2 class="join-title animation-title">Join the Match-3 Battle Today!</h2>
      <p class="join-text animation-text">
        Download Super Match Now and Prove You're the Ultimate Puzzle Master!
      </p>
    </div>
    <div class="animation-button">
      <a
        class="join-link animation-button"
        target="_blank"
        href="https://play.google.com/store/apps/details?id=com.mybogames.pvp2&hl=en&gl=us&pli=1"
      >
        <img
          class="join-img"
          src="assets/images/google-play.png"
          alt="Google image"
        />
        <div class="join-text-container">
          <p class="join-text-1">Download on</p>
          <p class="join-text-2">Google play</p>
        </div>
      </a>
    </div>
  </div>
</section>
