<section class="join">
  <div class="join-container">
    <div class="join-content">
      <h3 class="join-title">Join the Match-3 Battle Today!</h3>
      <p class="join-text">
        Download Super Match Now and Prove You're the Ultimate Puzzle Master!
      </p>
    </div>
    <a class="join-link" href="#">
      <img
        class="join-link-img"
        src="../../assets/images/google-play-2.png"
        alt="Google play"
      />
      <div class="join-link-content">
        <p class="join-link-text">Download on</p>
        <p class="join-link-text-next">GOOGLE PLAY</p>
      </div>
    </a>
  </div>
</section>
