<section class="reviews" id="reviews">
  <div class="container reviews-container">
    <h2 class="reviews-title animation-title">Reviews</h2>
    <div class="reviews-slider-container">
      <ul class="reviews-list">
        <li class="review-item">
          <img
            class="review-icon"
            src="/assets/images/icons/mynaui_message.png"
            alt="message"
          />
          <h3 class="review-title">David Clark</h3>
          <p class="review-text">
            The boosters make every match exciting. So many ways to strategize!
          </p>
        </li>
        <li class="review-item pink">
          <img
            class="review-icon"
            src="/assets/images/icons/mynaui_message.png"
            alt="message"
          />
          <h3 class="review-title">Sophia Brown</h3>
          <p class="review-text">
            The ranked mode keeps me hooked! Super fun and challenging
          </p>
        </li>
        <li class="review-item">
          <img
            class="review-icon"
            src="/assets/images/icons/mynaui_message.png"
            alt="message"
          />
          <h3 class="review-title">Ryan Smith</h3>
          <p class="review-text">
            Great graphics and fast gameplay. Easily my favorite match-3 game!
          </p>
        </li>
        <li class="review-item pink">
          <img
            class="review-icon"
            src="/assets/images/icons/mynaui_message.png"
            alt="message"
          />
          <h3 class="review-title">Emily Johnson</h3>
          <p class="review-text">
            Finally, a match-3 game with real PvP! Love the competition!
          </p>
        </li>
        <li class="review-item">
          <img
            class="review-icon"
            src="/assets/images/icons/mynaui_message.png"
            alt="message"
          />
          <h3 class="review-title">Olivia Martinez</h3>
          <p class="review-text">
            The events and tournaments keep things fresh. Highly recommend!
          </p>
        </li>
      </ul>
      <div class="review-pagination">
        <span class="review-dot active"></span>
        <span class="review-dot"></span>
        <span class="review-dot"></span>
        <span class="review-dot"></span>
        <span class="review-dot"></span>
      </div>
    </div>
    <ul class="reviews-list reviews-list-2">
      <li class="review-item">
        <img
          class="review-icon"
          src="/assets/images/icons/mynaui_message.png"
          alt="message"
        />
        <h3 class="review-title">David Clark</h3>
        <p class="review-text">
          The boosters make every match exciting. So many ways to strategize!
        </p>
      </li>
      <li class="review-item pink">
        <img
          class="review-icon"
          src="/assets/images/icons/mynaui_message.png"
          alt="message"
        />
        <h3 class="review-title">Sophia Brown</h3>
        <p class="review-text">
          The ranked mode keeps me hooked! Super fun and challenging
        </p>
      </li>
      <li class="review-item">
        <img
          class="review-icon"
          src="/assets/images/icons/mynaui_message.png"
          alt="message"
        />
        <h3 class="review-title">Ryan Smith</h3>
        <p class="review-text">
          Great graphics and fast gameplay. Easily my favorite match-3 game!
        </p>
      </li>
      <li class="review-item pink">
        <img
          class="review-icon"
          src="/assets/images/icons/mynaui_message.png"
          alt="message"
        />
        <h3 class="review-title">Emily Johnson</h3>
        <p class="review-text">
          Finally, a match-3 game with real PvP! Love the competition!
        </p>
      </li>
      <li class="review-item pink">
        <img
          class="review-icon"
          src="/assets/images/icons/mynaui_message.png"
          alt="message"
        />
        <h3 class="review-title">Olivia Martinez</h3>
        <p class="review-text">
          The events and tournaments keep things fresh. Highly recommend!
        </p>
      </li>
    </ul>
  </div>
</section>
