.about {
  margin-bottom: 80px;
}
.about-title {
  font-weight: 800;
  font-size: 24px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: 0;
}
.about-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: 0;
}
.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.about-list {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  flex-wrap: nowrap;
  gap: 60px;
  overflow-y: hidden;
}
.about-list-2 {
  display: none;
}
.about-item {
  min-width: 280px;
  height: 164px;
  padding: 20px;
  text-align: center;
  border-radius: 16px;
  color: white;
}
.about-item:nth-child(odd) {
  background: rgba(140, 23, 255, 1);
  box-shadow: 7px 7px 0px 0px rgba(88, 5, 168, 1);
}
.about-item:nth-child(even) {
  background: rgba(198, 33, 235, 1);
  box-shadow: 7px 7px 0px 0px rgba(88, 5, 168, 1);
}
.about-item h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: 0;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}
.about-item p {
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
  color: white;
}
.about-pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 40px;
}
.about-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid rgba(140, 23, 255, 1);
  background-color: transparent;
  cursor: pointer;
}
.about-dot.active {
  background-color: rgba(140, 23, 255, 1);
}

@media (min-width: 1200px) {
  .about {
    margin-bottom: 160px;
  }
  .about-title {
    font-size: 48px;
  }
  .about-text {
    font-size: 24px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 850px;
  }
  .about-slider-container {
    display: none;
  }
  .about-list {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  .about-item {
    min-width: 344px;
    height: 136px;
  }
  .column {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .column .about-item {
    background: rgba(198, 33, 235, 1);
    box-shadow: 7px 7px 0px 0px rgba(88, 5, 168, 1);
    height: 160px;
  }
  .column-about-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .column .about-item p {
    width: 250px;
    margin: 0 auto;
  }
}
