.hero {
  padding-top: 120px;
  margin-bottom: 80px;
}
.hero-wrapper {
  display: flex;
  flex-direction: column-reverse;
  gap: 21px;
}
.hero-images {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.hero-image-1 {
  margin-top: 58px;
  width: 86px;
  height: 177px;
}
.hero-image-2 {
  width: 115px;
  height: 235px;
}
.hero-title {
  font-weight: 800;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
  color: rgba(70, 0, 139, 1);
  margin-bottom: 20px;
}
.hero-text {
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
  color: rgba(28, 28, 28, 1);
  margin-bottom: 20px;
}
.google-play {
  display: flex;
  align-items: center;
  width: 280px;
  padding: 12px;
  gap: 21px;
  border: 2px solid rgba(140, 23, 255, 1);
  border-radius: 12px;
  transition: background-color 0.4s ease, color 0.4s ease,
    border-color 0.4s ease;
}
.google-play:hover {
  background: linear-gradient(90deg, #8c17ff 0%, #cd28d6 100%);
  color: white;
  border-color: white;
}
.google-play img {
  border: 1px solid rgb(81, 201, 38);
  width: 45px;
  height: 45px;
}
.hero-btns {
  text-align: start;
}
.hero-btns p:first-child {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 4px;
  text-transform: uppercase;
}
.hero-btns p:last-child {
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
}
// -----------------------------------------
.cookies {
  margin: 0 auto;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 40px 20px;
  background-color: rgba(140, 23, 255, 1);
  z-index: 9999;
}
.cookies-text {
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
  color: white;
}
.cookies-btns {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
}
.cookies-accept,
.cookies-decline {
  padding: 26px 57px;
  width: 280px;
  height: 80px;
  font-size: 19px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  border-radius: 12px;
}
.cookies-accept {
  background-color: white;
  transition: background-color 0.4s ease, color 0.4s ease,
    border-color 0.4s ease;
  border: 1px solid transparent;
}
.cookies-accept:hover {
  background: linear-gradient(90deg, #8c17ff 0%, #cd28d6 100%);
  color: white;
  border-color: white;
}
.cookies-decline {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  transition: background-color 0.4s ease, color 0.4s ease,
    border-color 0.4s ease;
}

.cookies-decline:hover {
  background: linear-gradient(90deg, #8c17ff 0%, #cd28d6 100%);
  color: white;
  border-color: white;
}
// -----------------------------------------
@media (min-width: 1200px) {
  .hero {
    padding-top: 219px;
    margin-bottom: 160px;
  }
  .hero-wrapper {
    display: flex;
    flex-direction: row;
    gap: 58px;
  }
  .hero-images {
    gap: 24px;
    margin-left: -260px;
  }
  .hero-image-1 {
    margin-top: 109px;
    width: 163px;
    height: 334px;
  }
  .hero-image-2 {
    width: 217px;
    height: 443px;
  }
  .hero-title {
    font-size: 48px;
    text-align: start;
    width: 800px;
  }
  .hero-text {
    font-size: 24px;
    text-align: start;
    margin-bottom: 60px;
    width: 540px;
  }
  .google-play {
    width: 252px;
  }
  .cookies {
    padding: 60px 189px;
  }
  .cookies-text {
    font-size: 24px;
    margin-bottom: 60px;
    width: 822px;
  }
  .cookies-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
    margin: 0 auto;
  }
  .cookies-accept,
  .cookies-decline {
    padding: 26px 73px;
    width: 344px;
    height: 80px;
    font-size: 23px;
  }
}
