@import 'modern-normalize/modern-normalize.css';

@import '../assets/styles/Igor/header.scss';
@import '../assets/styles/Igor/hero.scss';
@import '../assets/styles/Igor/about.scss';
@import '../assets/styles/Igor/how.scss';
@import '../assets/styles/Igor/features.scss';
// -------------------------------------------------
@import '../assets/styles/Miroslav/gallery.scss';
@import '../assets/styles/Miroslav/atmosphere.scss';
@import '../assets/styles/Miroslav/reviews.scss';
@import '../assets/styles/Miroslav/faq.scss';
@import '../assets/styles/Miroslav/join.scss';
@import '../assets/styles/Miroslav/footer.scss';

@font-face {
  font-family: 'Maven Pro';
  src: url('/fonts/MavenPro-VariableFont_wght.ttf') format('truetype');
  font-weight: 400 800;
  font-style: normal;
}
:root {
  font-family: 'Maven Pro', sans-serif;
  font-size: 24px;
  line-height: 1.4;
  font-weight: 500;

  color: rgba(28, 28, 28, 1);
  background-color: rgba(255, 255, 255, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
