.animation-title {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 0.6s ease-out;
}
.animation-title.visible {
  opacity: 1;
  transform: translateY(0);
}

.animation-text {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1.5s ease-out, transform 0.6s ease-out;
  transition-delay: 0.3s;
}
.animation-text.visible {
  opacity: 1;
  transform: translateY(0);
}

.animation-button {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 1.5s ease-out, transform 0.6s ease-out;
  transition-delay: 0.6s;
}
.animation-button.visible {
  opacity: 1;
  transform: translateX(0);
}

.google-play {
  animation: pulse 2s infinite ease-in-out;
}

.animation-left {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.animation-right {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.animation-left.visible,
.animation-right.visible {
  opacity: 1;
  transform: translateX(0);
}

.animation-item {
  opacity: 0;
  transition: opacity 3s ease;
}
.animation-item.visible {
  opacity: 1;
}
.animation-item h3,
.animation-item p {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.5s ease, transform 2s ease;
}
.animation-item.visible h3,
.animation-item.visible p {
  opacity: 1;
  transform: translateY(0);
}
.column-animation-item {
  transition-delay: 0.2s;
}
.column-animation-item:nth-child(2) {
  transition-delay: 0.4s;
}
.column-animation-item:nth-child(3) {
  transition-delay: 0.6s;
}
