.cookies-container {
  padding-top: 80px;
}

.cookies-link {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  color: $_icon_color;
  margin-bottom: 80px;
}

.cookies-img-title {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.cookies-title {
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  color: $_title_color;
  margin-bottom: 20px;
}

.cookies-item-img {
  display: flex;
  flex-direction: row;
  align-items: first baseline;
  gap: 12px;
}

.cookies-img-elipse {
  width: 8px;
  height: 8px;
  object-fit: cover;
}

.cookies-item {
  margin-left: 24px;
}

.cookies-text-t {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: $_title_color;
  margin-bottom: 40px;
}

.cookies-item-link {
  word-wrap: break-word;
  word-break: break-word;
  text-decoration: underline;
}

@media (min-width: 1200px) {
  .cookies-container {
    max-width: 1080px;
  }

  .cookies-title {
    font-size: 24px;
  }

  .cookies-text-t {
    font-size: 20px;
  }

  .cookies-img-elipse {
    width: 12px;
    height: 12px;
  }
}
