.faq {
  margin-bottom: 80px;
}
.faq-title-cont {
  font-weight: 800;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  color: $_title-color;
  margin-bottom: 40px;
}
.faq-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.faq-item {
  border-radius: 16px;
  padding: 10px;
  width: 280px;
  box-shadow: 7px 7px 0 0 #5805a8;
  background: linear-gradient(90deg, #8c17ff 0%, #cd28d6 100%);
}

.faq-question {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  cursor: pointer;
}

.faq-title {
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  color: $_menu-color;
}

.faq-text {
  font-weight: 400;
  font-size: 16px;
  color: $_menu-color;
  display: none;
}

.faq-arrow svg {
  transition: transform 0.3s ease;
}

.faq-arrow.open svg {
  transform: rotate(180deg);
}
