.footer {
  margin: 0 auto;
  background-color: $_footer_color;
  padding: 40px 20px;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.footer-nav-list-item-link {
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  color: $_menu_color;
  cursor: pointer;
  transition: color 0.4s ease;
}

.footer-nav-list-item-link:hover {
  color: #68097e;
}

.footer-reserved {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: $_menu_color;
}

@media (min-width: 1200px) {
  .footer-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 76px;
    align-items: last baseline;
  }

  .footer-nav-list {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-nav-list-item-link {
    font-size: 24px;
  }

  .footer-reserved {
    font-size: 20px;
  }
}
