.gallery-container {
  margin-bottom: 80px;
}

.gallery-title {
  font-weight: 800;
  font-size: 24px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: 0;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  overflow: hidden;
}

.gallery-wrapper {
  width: 100%;
  max-width: 600px;
  overflow: hidden;
  touch-action: pan-x;
}

.gallery-slider {
  display: flex;
  gap: 20px;
  transition: transform 0.3s ease-in-out;
  will-change: transform;
}

.gallery-slide {
  width: 100%;
  max-width: 205px;
  height: auto;
  flex-shrink: 0;
  border-radius: 16px;
}

.gallery-button {
  display: none;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid $_icon-color;
  border-radius: 12px;
  padding: 13px 14px;
  width: 53px;
  height: 51px;
  transition: background-color 0.4s ease, border-color 0.4s ease,
    opacity 0.4s ease;
}

.gallery-button:hover {
  background: linear-gradient(90deg, #a455f3 0%, #cf6bd4 100%);
  border-color: white;
  opacity: 0.9;
}

.gallery-button.prev-btn {
  left: 10px;
}
.gallery-button.next-btn {
  right: 10px;
}

@media (min-width: 1200px) {
  .gallery-container {
    margin-bottom: 160px;
  }

  .gallery-wrapper {
    max-width: 660px;
  }
  .gallery {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .gallery-title {
    font-size: 48px;
  }

  .gallery-slider img {
    max-width: 205px;
  }
  .gallery-button {
    display: block;
  }
}
