.privacy-container {
  padding-top: 80px;
}
.privacy-link {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  color: $_icon_color;
  margin-bottom: 80px;
  fill: $_icon_color;
  transition: color 0.4s ease, fill 0.4s ease;
}

.privacy-link:hover {
  color: #46008b;
  fill: #46008b;
}

.privacy-title {
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  color: $_title_color;
  margin-bottom: 20px;
}

.margin {
  margin-bottom: 40px;
}

.privacy-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: $_title_color;
  margin-bottom: 40px;
}

.privacy-text-2 {
  text-decoration: underline;
  transition: color 0.4s ease;
}

.privacy-text-2:hover {
  color: #8c17ff;
}

.privacy-item {
  display: flex;
  flex-direction: row;
  align-items: first baseline;
  gap: 12px;
}
.privacy-img {
  width: 8px;
  height: 8px;
  object-fit: cover;
}

@media (min-width: 1200px) {
  .privacy-container {
    max-width: 1080px;
  }

  .privacy-title {
    font-size: 24px;
  }

  .privacy-text {
    font-size: 20px;
  }

  .privacy-img {
    width: 12px;
    height: 12px;
  }
}
