.reviews {
  margin-bottom: 80px;
}

.reviews-title {
  font-weight: 800;
  font-size: 24px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: 0;
}

.reviews-list {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  flex-wrap: nowrap;
  gap: 80px;
}

.reviews-list-2 {
  display: none;
}

.review-item {
  position: relative;
  border-radius: 16px;
  padding: 20px;
  min-width: 280px;
  height: 228px;
  box-shadow: 7px 7px 0 0 #5805a8;
  background: $_icon-color;
}

.review-icon {
  position: absolute;
  top: -17px;
  left: 50%;
  transform: translateX(-50%);
}

.pink {
  background: $_main-color_4;
}

.review-title {
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  color: $_menu-color;
  margin-bottom: 20px;
}

.review-text {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: $_menu-color;
}

.review-pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 40px;
}

.review-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid rgba(140, 23, 255, 1);
  background-color: transparent;
  cursor: pointer;
}

.review-dot.active {
  background-color: rgba(140, 23, 255, 1);
}

@media (min-width: 1200px) {
  .reviews {
    margin-bottom: 160px;
  }
  .reviews-title {
    font-size: 48px;
  }

  .reviews-slider-container {
    display: none;
  }

  .reviews-list-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }

  .review-item {
    max-width: 251px;
    height: 228px;
  }

  .pink {
    background: $_main-color_4;
  }
}
