<section class="features" id="features">
  <div class="container">
    <h2 class="features-title">Game features</h2>

    <div class="features-slider-container">
      <ul class="features-slider-list">
        <li class="features-slider-item">
          <h3>Real-Time PvP Battles</h3>
          <p>Test your skills against players worldwide</p>
        </li>
        <li class="features-slider-item">
          <h3>Explosive Match-3 Action</h3>
          <p>Stunning effects and rewarding chain reactions</p>
        </li>
        <li class="features-slider-item">
          <h3> Tournaments & Events</h3>
          <p>Participate in special competitions for big rewards</p>
        </li>
        <li class="features-slider-item">
          <h3>Unique Power-Ups</h3>
          <p>Unlock and upgrade special abilities to gain an edge</p>
        </li>
        <li class="features-slider-item">
          <h3>Endless Levels & Challenges</h3>
          <p>Never run out of new puzzles to solve</p>
        </li>
        <li class="features-slider-item">
          <h3>Stunning Visuals</h3>
          <p>Bright, colorful, and highly engaging graphics</p>
        </li>
      </ul>
      <div class="features-pagination">
        <span class="features-dot active"></span>
        <span class="features-dot"></span>
        <span class="features-dot"></span>
        <span class="features-dot"></span>
        <span class="features-dot"></span>
        <span class="features-dot"></span>
      </div>
    </div>

    <ul class="features-list-2">
      <li class="features-item">
        <h3>Unique Power-Ups</h3>
        <p>Unlock and upgrade special abilities to gain an edge</p>
      </li>
      <li class="features-item">
        <h3>Explosive Match-3 Action</h3>
        <p>Stunning effects and rewarding chain reactions</p>
      </li>
      <li class="features-item">
        <h3> Tournaments & Events</h3>
        <p>Participate in special competitions for big rewards</p>
      </li>
      <li class="features-item">
        <h3>Real-Time PvP Battles</h3>
        <p>Test your skills against players worldwide</p>
      </li>
      <li class="features-item">
        <h3>Endless Levels & Challenges</h3>
        <p>Never run out of new puzzles to solve</p>
      </li>
      <li class="features-item">
        <h3>Stunning Visuals</h3>
        <p>Bright, colorful, and highly engaging graphics</p>
      </li>
    </ul>
  </div>
</section>
