<section class="hero">
  <div class="cookies">
    <div class="conatiner">
      <p class="cookies-text">
        We use cookies to improve your experience on our website. By browsing
        this website, you agree to our use of cookies
      </p>
      <div class="cookies-btns">
        <button class="cookies-accept" id="accept-cookies">
          ACCEPT COOKIES
        </button>
        <button class="cookies-decline" id="decline-cookies">
          DECLINE COOKIES
        </button>
      </div>
    </div>
  </div>
  <div class="container hero-wrapper">
    <div class="hero-content">
      <h1 class="hero-title">Super Match - PvP Match 3: Match, Blast, Win!</h1>
      <p class="hero-text">
        Dive into the world of match-3 battles and outsmart your opponents!
      </p>
      <button class="google-play">
        <img
          src="../../assets/images/google-play.png"
          alt="image of google-play"
        />
        <div class="hero-btns">
          <p>Download on</p>
          <p>Google play</p>
        </div>
      </button>
    </div>
    <div class="hero-images">
      <img
        class="hero-image-1"
        src="../../assets/images/hero/image-1.png"
        alt="image of game"
      />
      <img
        class="hero-image-2"
        src="../../assets/images/hero/image-2.png"
        alt="image of game"
      />
    </div>
  </div>
</section>
