<section class="hero">
  <div class="container wrapper">
    <div class="content">
      <h1 class="title">Super Match - PvP Match 3: Match, Blast, Win!</h1>
      <p class="text">
        Dive into the world of match-3 battles and outsmart your opponents!
      </p>
      <button>
        <img
          src="../../assets/images/google-play.png"
          alt="image of google-play"
        />
        <div class="btns">
          <p>Download on</p>
          <p>Google play</p>
        </div>
      </button>
    </div>
    <div class="images">
      <img
        class="image-1"
        src="../../assets/images/hero/image-1.png"
        alt="image of game"
      />
      <img
        class="image-2"
        src="../../assets/images/hero/image-2.png"
        alt="image of game"
      />
    </div>
  </div>
</section>
