<section class="hero" id="home">
  <div class="cookies">
    <div class="conatiner">
      <p class="cookies-text">
        We use cookies to improve your experience on our website. By browsing
        this website, you agree to our use of cookies
      </p>
      <div class="cookies-btns">
        <button class="cookies-accept" id="accept-cookies">
          ACCEPT COOKIES
        </button>
        <button class="cookies-decline" id="decline-cookies">
          DECLINE COOKIES
        </button>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="hero-wrapper">
      <div class="hero-content">
        <h1 class="hero-title animation-title">
          Super Match - PvP Match 3: Match, Blast, Win!
        </h1>
        <p class="hero-text animation-text">
          Dive into the world of match-3 battles and outsmart your opponents!
        </p>
        <div class="animation-button">
          <a
            class="google-play"
            target="_blank"
            href="https://play.google.com/store/apps/details?id=com.mybogames.pvp2&hl=en&gl=us&pli=1"
          >
            <img src="/assets/images/google-play.png" alt="Google Play Store" />
            <div class="hero-btns">
              <p>Download on</p>
              <p>Google Play</p>
            </div>
          </a>
        </div>
      </div>
      <div class="hero-images">
        <img
          class="hero-image-1 animation-left"
          src="/assets/images/hero/image-1.png"
          alt="image of game"
        />
        <img
          class="hero-image-2 animation-right"
          src="/assets/images/hero/image-2.png"
          alt="image of game"
        />
      </div>
    </div>
  </div>
</section>
